.box{
    width: 350px;
    height: 600px;
    border: 1px solid grey;
    margin:auto;
}
.pop{
    width: 90%;
    height: 50px;
    font-size: 30px;
    font-weight: 600;
    margin-left: 12px;
    /* border: 1px solid red; */
    margin-top: 300px;
}
.para{
    width: 90%;
    /* height: 50px; */
    /* border: 1px solid red; */
    margin-left: 12px;

    color: grey;
    /* margin-top: 100px; */
}
.btn1{
    width: 90%;
    text-align: center;
    margin: auto;
    background-color: blueviolet;
    padding: 10px 10px;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
.btn2{
    width: 90%;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    background-color: rgb(164, 163, 163);
    padding: 10px 10px;
    border-radius: 10px;
    color: black;
    cursor: pointer;
}